# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: .venv/bin/ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: .venv/bin/ruff format
        language: system
        types: [python]

      - id: ty-check
        name: ty check
        entry: .venv/bin/ty check
        language: system
        types: [python]
        pass_filenames: false
